/* Main.scss */

.main-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 16px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Takes full viewport height */
  text-align: center;
  font-size: 1.5rem; /* Increase the font size for better visibility */
}

.stats-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.stats-table th,
.stats-table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.stats-table th {
  background-color: #333;
  color: #fff;
}

.text-black {
  background-color: #333;
  color: #fff;
}

.text-red {
  background-color: #d9534f;
  color: #fff;
}

.text-orange {
  background-color: #f0ad4e;
  color: #fff;
}

.text-yellow {
  background-color: #ffd700;
  color: #fff;
}

.text-green {
  background-color: #4cae4c;
  color: #fff;
}

.text-dark-green {
  background-color: #267426;
  color: #fff;
}

.text-blue {
  background-color: #5bc0de;
  color: #fff;
}

.text-light-purple {
  background-color: #b03eca;
  color: #fff;
}

.text-purple {
  background-color: #ee0bee;
  color: #fff;
}

/* Mobile styles */
@media (max-width: 600px) {
  .stats-table {
    font-size: 0.9rem;
  }
}
.phone_connected {
  margin-top: 30px; /* Adds space between the stats table and phone-connected section */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4cae4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #267426;
    }

    &:active {
      background-color: #1b521b;
    }
  }

  p {
    margin-top: 15px;
    font-size: 1rem;
    color: #333;
  }
}

.chart-container {
  margin-top: 30px;
  text-align: center;
}

.chart-container h2 {
  margin-bottom: 20px;
}
